{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    {% include 'Layout/nav-menu.html.twig' %}
    <div class="block auth">
{#        {{ author.id }}#}
{#        {{ author.firstName }}#}
{#        {{ author.patronymic }}#}
{#        {{ author.secondName }}#}
    </div>

{% endblock %}