{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Create new Book</h1>
    <button class="back" style="margin-left: 300px"><a href="{{ path('book_list') }}">Back to list</a></button>
    {{ include('book/_form.html.twig') }}
{% endblock %}
