<div class="">
    <ul class="menu-main">
        <li><a href="{{ path('book_index') }}" class="menu-item">Books</a></li>
        <li><a href="{{ path('category_index') }}" class="menu-item">Categories</a></li>
        <li><a href="" class="menu-item">Authors</a></li>
        <li><a href="" class="menu-item">Contact</a></li>
    </ul>
</div>
<br>