<div class="">
    <ul class="menu-main">
        <li><a href="{{ path('book_list') }}" class="menu-item">Books</a></li>
        <li><a href="{{ path('category_list') }}" class="menu-item">Categories</a></li>
        <li><a href="{{ path('authors_list') }}" class="menu-item">Authors</a></li>
        <li><a href="" class="menu-item">Contact</a></li>
        <li><a href="" class="menu-item">Tests</a></li>
    </ul>
</div>
<br>